<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Knights and Knave</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="main-container">
      <div id="main-grid">
        <div id="title">Knights And Knave</div>
        <img src="{{url_for('static', filename='rsc/kak_img.jpg')}}" alt="" id="image">
        <div id="description">
            <p><a href="http://en.wikipedia.org/wiki/Knights_and_Knaves">Knights and knaves</a> logic puzzles were made popular by the logician and mathematician Raymond Smullyan.The puzzles are set on a fictional island where all inhabitants are either knights, who always tell the truth, or knaves, who always lie. The puzzles involve a visitor to the island who meets small groups of inhabitants. Usually the aim is for the visitor to deduce the inhabitants' type from their statements</p>
            <p><b> Click on </i> Generate </i> Button below to randomly generate puzzles 3 inhabitants</b></p>
        </div>
        <div id="puzzle-area">
          <div id="puzzle-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          <div id="generate-btn" onclick="get_next_question()">Generate<i class="right"></i></div>
        </div>
      </div>
    </div>
    <script>
      function get_next_question(){
        $.ajax({url: "/get-next-question", 
            success: function(result){
              console.log(result);
              var result = JSON.parse(result)
              var q = "<p>"+result.introduction+"</p><p>" + result.question+"</p>";
              document.getElementById("puzzle-text").innerHTML = q;
          }});
      }
        get_next_question();                
      
    </script>
  </body>
</html>
